.main{
    display: flex;
    margin: 0;
    padding: 70px 200px 70px 150px;

}

.main-container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 20px;
}

.image-container{
    display: flex;
    width: 100%;
    flex: 2;

}

.image-container img{
    width: 500px;
    height: auto;
    object-fit: contain;
    transition: transform 0.3s ease-in-out;
}

.image-container img:hover {
    transform: scale(1.1); /* Hover sırasında görseli %10 büyüt */
}

.product-info{
    display: flex;
    flex-direction: column;
    flex: 1.3;
    gap: 30px;
    
}

.product-info h5{
    font-size: 1.4rem;
    color: rgba(0, 0, 0, 0.70);
    
}

.product-info p{
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.70);
}

.product-info button{
    font-size: 1.2rem;
    border-width: 2px;
    border-color: hsl(123, 49%, 35%);
    color: hsl(123, 49%, 35%);
    border-style: solid;
    padding: 15px;
    border-radius: 20px;
    box-shadow: 0px 0px 5px hsl(123, 49%, 35%);
    cursor: pointer;
}

.product-info button:hover{
    background-color: hsl(123, 49%, 35%);
    color: white;
    transition: ease 0.3s;
}


@media only screen and (max-width: 1150px){
    .main{
        margin: 50px 10px;
        padding: 10px;
        display: flex;
        flex-direction: column;
    }

    .main-container{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .image-container img{
        margin: auto;
    }

    .image-container img:hover {
        transform: none; 
    }
}

@media only screen and (max-width: 800px){

    
}